<%= button_to 'back', user_groups_path, method: :get %>
<h1>New Category</h1>
<%= form_for :group, url: user_groups_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </p>

  <div class="field">
    <%= f.hidden_field :user_id, value: @current_user.id.to_s %>
  </div>
  <p>
    <%= f.submit 'Save category'%>
  </p>
<% end %>